.box {
    width: 80%;
    margin: 0 auto;
}

.step {
    background: #ccc;
    display: inline-block;
    color: #fff;
    width: calc(25% - 4px);
    height: 40px;
    background-color: #ccc;
    position: relative;
    text-align: center;
    line-height: 40px;
}
.step:before {
    content: '';
    display: block;
    border-top: 20px solid #ccc;
    border-bottom: 20px solid #ccc;
    border-left: 20px solid #fff;
    position: absolute;
    left: 0px;
    top: 0;
}

.step:after {
    content: '';
    display: block;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ccc;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 1;
}

.step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.step:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.step:last-child:after {
    display: none;
}

.step:first-child:before {
    display: none;
}

.step:last-child:after {
    display: none;
}

/* 当前状态 */
.box>.active {
    background-color: #f39c12;
}

.box>.active:after {
    border-left-color: #f39c12;
}

.box>.active:before {
    border-top-color: #f39c12;
    border-bottom-color: #f39c12;
}

/* 完成状态 */
.box>.already {
    background-color: #50abe4;
}

.box>.already:after {
    border-left-color: #50abe4;
}

.box>.already:before {
    border-top-color: #50abe4;
    border-bottom-color: #50abe4;
}